{{!-- Navbar --}}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Restaurant List</a>
</nav>

{{!-- Search bar + Restaurant List --}}
<div class="container">
  {{!-- Search bar --}}
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username"
      aria-describedby="button-addon2" name:"q">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
    </div>
  </div>
  {{!-- Restaurant List --}}
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">R Name</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>